.wrapper{
  height: calc(100% - 14rem);
  //position: relative;
  //display: block;
  overflow-y: scroll;
}
.block-repo{
  height: 15rem;
  //padding: .02rem;
  //margin: .2rem;
  display: block;
  .block-repo-in{
    background-color: #ffffff1f;
    width: 100%;
    height: 100%;
    .left{
      padding: .25rem;
      width: 80%;
      flex-direction: column;
      justify-content: space-between;
      .title{
        font-size:1rem;
        color: var(--color4);
      }
      .description{
        font-family: 'IBM Plex Serif', serif;
      }
    }
    .right{
      width: 20%;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      align-content: center;
      font-size: 1.2rem;
    }
  }
}
